/*
    homepage.css
    ===================
    Author: Matthew Tam
*/

/*  The map, for some reason, has an element that seems to
    overflow.  I suspect this has something to do with the
    CSS from HERE Maps API, as this only happens when I set
    the height of the "map" too high.  A map height of 400px
    seems to be ok and does not cause this problem on my
    1080px height monitor.
*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.map {
    height: calc(100vh - (30vh + 64px));
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 75%;
    }

    .map {
        height: calc(100vh - (30vh + 56px));
    }
}